.App {
  text-align: center;
}

.heading {
  color: white; 
  margin: 10px;
  text-shadow: 1px 1px 2px black;
}

.subheading {
  color: white; 
  margin: 10px;
  text-shadow: 1px 1px 2px black;
}

.m-auto {
  margin: 10 !important;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.box-header {
  justify-content: left;
  border-radius: 10px;
  flex-basis: 10rem;
  gap: 10px;
  margin: 10px;
  border: solid;
  border-color: darkslategray;
  background: linear-gradient(to left, #3a6073, #3a7bd5);
}

.box-input {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  width: 30%;
  max-height: 400px;
}

.box-input div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
}

.box-todo {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: start;
  vertical-align: middle;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  padding: 5px;
  width: 70%;
}

.box-todo div {
  width: 100px;
  height: 100px;
  border: solid;
  border-color: lightgrey;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: fit-content;
}

.todo-high {
  background-color: mistyrose;
  color: red;
  text-shadow: 1px 1px 2px darkred;
}

.todo-medium {
  background-color: lightgoldenrodyellow;
  color: goldenrod;
  text-shadow: 1px 1px 2px darkgoldenrod;
}

.todo-low {
  background-color: mintcream;
  color: green;
  text-shadow: 1px 1px 2px darkgreen;
}

.todo-icon {
  cursor: pointer;
}

.edit-form {
  color: black;
  text-shadow: none;
}

.button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 10px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #07c;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}